@using Climate_Watch.Repository
@inject IUserRepository userRepository


@if (User.Identity.IsAuthenticated)
{
    var user = userRepository.GetUser(@User.Identity?.Name);
    <li class="AccountInfo">
        <a class="btn btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user accountInfoIcon"></i>
        </a>
        <div class="dropdown-menu" style="direction: rtl;margin-right: 250px !important;">
            <a class="dropdown-item" href="#">@user.TelegramId</a>
            <a class="dropdown-item" >
                <a asp-area="" asp-controller="account" asp-action="Logout" style="margin-left: 35px;">
                    <button class="btn btn-outline-danger" type="button">
                        Logout
                    </button>
                </a>
            </a>
        </div>
    </li>
}
else
{
    <li class="AccountInfo">
        <a class="btn btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user accountInfoIcon"></i>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="account" asp-action="register">Register</a>
            <a class="dropdown-item" asp-area="" asp-controller="account" asp-action="Login">Login</a>
        </div>
    </li>
}