@model Climate_Watch.Models.DefinedHome

@{
    ViewData["Title"] = "Edit Place";
}

<h2>Edit Place</h2>

<form asp-action="EditPlaceView">
    <input type="hidden" asp-for="PlaceID" />
    <div class="form-group">
        <label asp-for="PlaceName" class="control-label"></label>
        <input asp-for="PlaceName" class="form-control" />
        <span asp-validation-for="PlaceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlaceAdminUsername" class="control-label"></label>
        <input asp-for="PlaceAdminUsername" class="form-control" />
        <span asp-validation-for="PlaceAdminUsername" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RaspberryPiAddress" class="control-label"></label>
        <input asp-for="RaspberryPiAddress" class="form-control" />
        <span asp-validation-for="RaspberryPiAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SendDataInterval" class="control-label"></label>
        <input asp-for="SendDataInterval" class="form-control" />
        <span asp-validation-for="SendDataInterval" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
